<div id="particles-js">
  <div class="content">
      <h2>
        <span style="font-family: 'Lato', sans-serif; border: 1px solid white; border-radius: 5px; padding: 5px; padding-top: 2px; ">21</span> <span style="font-family: 'Roboto', sans-serif;">MIL</span>
      </h2>
      <h3>
        <span class="site-description">{{site.user_title}}</span>
      </h3>
      <div class="icons-header">
        <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
      </div>
      <!--
      <a class="link" href="#about" data-scroll>ABOUT US</a>
      <a class="link" href="#projects" data-scroll>PROJECTS</a>-->
  </div>
  <!--
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>-->
</div>
