<div class="container">
  <div class="user-details">
    <h3> PROJECTS </h3>
  </div>
  <div class="row user-projects">
    <div class="four columns images" style="text-align:center;">
      <img width="120" style="vertical-align:middle;" src="{{ "/assets/img/onegram.png" | prepend: site.baseurl }}" />
    </div>
    <div class="eight columns">
      <h5><a href="https://onegram.org/"> OneGram </a></h5>
      <p>OneGram is a sharia-compliant cryptocurrency backed by physical gold. We designed a custom blockchain tailored to meet the business needs of this project. We also built the entire support infrastructure for the currency.</p>
    </div>
  </div>
  <div class="row user-projects">
    <div class="four columns" style="text-align:center;">
      <img width="220" style="vertical-align:middle;" src="{{ "/assets/img/Electrum.png" | prepend: site.baseurl }}" />
    </div>
    <div class="eight columns">
      <h5> <a href="https://electrum.org/#home">Electrum</a> </h5>
      <p>Electrum is a lightweight, fast, secure, non­-custodian, hierarchically deterministic wallet for the desktop that supports multi-sig and many other advanced functionalities. We customized Electrum to make it work with many cryptocurrencies.</p>
    </div>
  </div>
  <div class="row user-projects">
    <div class="four columns images" style="text-align:center;">
      <img width="180" style="vertical-align:middle;" src="{{ "/assets/img/Insight.png" | prepend: site.baseurl }}" />
    </div>
    <div class="eight columns">
      <h5><a href="https://localbitcoinschain.com/">Insight</a></h5>
      <p>Insight is a modern blockchain explorer that comes with complete REST and websocket APIs. We fully customized Insight to make it work with various cryptocurrencies.</p>
    </div>
  </div>
  <div class="row user-projects">
    <div class="four columns" style="text-align:center;">
      <img alt="mountains" style="vertical-align:middle;" src="{{ "/assets/img/Copay.png" | prepend: site.baseurl }}" />
    </div>
    <div class="eight columns">
      <h5><a href="https://copay.io/">Copay</a></h5>
      <p>Co-pay is an easy­-to-­use, multisignature, secure, non­-custodian, hierarchical deterministic wallet for the web and iOS/Android devices. The wallet displays funds not only in Bitcoin, but also the equivalent in various currencies. We made several improvements to Copay, and customized it to make it work with other cryptocurrencies.</p>
    </div>
  </div>
  <div class="row user-projects">
    <div class="four columns images" style="text-align:center;">
      <img width="180" style="vertical-align:middle;" src="{{ "/assets/img/BitPeer.png" | prepend: site.baseurl }}" />
    </div>
    <div class="eight columns">
      <h5><a href="https://bitpeer.com/#/"> BitPeer </a></h5>
      <p>BitPeer is an ultra-fast, scalable, anonymous cryptocurrency exchange that doesn’t require users to create an account. Our team proposed, developed and maintained this truly innovative exchange from the ground-up.</p>
    </div>
  </div>
  <div class="row user-projects">
    <div class="four columns" style="text-align:center;">
      <img width="180" style="vertical-align:middle;" src="{{ "/assets/img/Fogify.png" | prepend: site.baseurl }}" />
    </div>
    <div class="eight columns">
      <h5><a href="https://www.fogify.net/">Fogify</a></h5>
      <p>Fogify is the ultimate coin mixing service, customizable for any cryptocurrency. We built and maintained the service as one of our core products.</p>
    </div>
  </div>
   <div class="row user-projects">
    <div class="four columns images" style="text-align:center;">
      <img width="180" style="vertical-align:middle;" src="{{ "/assets/img/Capricoin.png" | prepend: site.baseurl }}" />
    </div>
    <div class="eight columns">
      <h5><a href="http://capricoin.org/"> Capricoin </a></h5>
      <p>Capricoin is the native cryptocurrency used in the shopping platform CapriPay as cashback reward. We made major upgrades to the cryptocurrency codebase to fix various security issues. We also built the entire support infrastructure around the currency such as the block explorers, desktop, web and mobile wallets.</p>
    </div>
  </div>
</div>
