<div class="container">
  <div class="user-details">
    <h3> PROJECTS </h3>
  </div>
  <div class="row user-projects">
    <div class="four columns" style="text-align:center;">
      <img width="120" style="vertical-align:middle;" src="{{ "/assets/img/onegram.png" | prepend: site.baseurl }}" />
    </div>
    <div class="eight columns">
      <h5><a href="https://onegram.org/"> OneGram </a></h5>
      <p>OneGram is a sharia-compliant cryptocurrency backed by physical gold. We designed a custom blockchain tailored to meet the business needs of this project. We also built the entire support infrastructure for the currency.</p>
    </div>
  </div>
  <div class="row user-projects">
    <div class="four columns images" style="text-align:center;">
      <img width="180" style="vertical-align:middle;" src="{{ "/assets/img/BitPeer.png" | prepend: site.baseurl }}" />
    </div>
    <div class="eight columns">
      <h5><a href="https://bitpeer.com/#/"> BitPeer </a></h5>
      <p>BitPeer is an ultra-fast, scalable, anonymous cryptocurrency exchange that doesn’t require users to create an account. Our team proposed, developed and maintained this truly innovative exchange from the ground-up.</p>
    </div>
  </div>
  <div class="row user-projects">
    <div class="four columns" style="text-align:center;">
      <img width="180" style="vertical-align:middle;" src="{{ "/assets/img/Fogify.png" | prepend: site.baseurl }}" />
    </div>
    <div class="eight columns">
      <h5><a href="https://www.fogify.net/">Fogify</a></h5>
      <p>Fogify is the ultimate coin mixing service, customizable for any cryptocurrency. We built and maintained the service as one of our core products.</p>
    </div>
  </div>
</div>
